.container {
    height: 100%;
    position: relative;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#startBtn{
    width:120px;
	height: 120px;
	color:#fff;
	background: #004fff;
	font-size: 24px;
    font-weight: bolder;
	border:none;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(0,79,255,0.3);
	transition:0.3s;
}

#startBtn:focus {
	outline:0;
}

#startBtn:hover{
	background: rgba(0,79,255,0.9);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,79,255,0.6);
}